.App {
  text-align: center;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.search input {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #eeeeee;
  margin-right: 10px;
  width: 300px;
}

.search select {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #eeeeee;
}

.category {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.category-button {
  margin: 0 10px;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  background-color: #eeeeee;
  cursor: pointer;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.image {
  margin: 20px;
  text-align: center;
}

.image img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.image h2 {
  margin-top: 10px;
  font-size: 20px;
}

.image p {
  margin-top: 5px;
  font-size: 16px;
  color: #aaaaaa;
}
